# Node modules
node_modules

# Build output
build
dist

# Logs
*.log
npm-debug.log
yarn-debug.log
yarn-error.log

# Dependency directories
jspm_packages

# Test and coverage directories
coverage
test

# Temporary files
*.swp
*.swo
.DS_Store

# Environment files

# Docker files
Dockerfile*
.dockerignore
